<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public.css">
    <link rel="stylesheet" href="foods.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1386107_7zy0pmrzk15.css">
    <script src="vue.js"></script>
    <script src="jQuery.js"></script>
    <script src="main.js"></script>
    <title>食品网页</title>
</head>
<body>
<div  id="app">
<nav>
    <ul>
        <li>SIGN IN注册</li>
        <li>LOG IN登录</li>
        <li><span  class="iconfont icon-lanzi"></span> <span>0</span> 件</li>
    </ul>
</nav>
<header class="clearFloat">
    <div><img src="image/logo.png" alt="logo"></div>
    <div class="header_right">
        <div class="header_list" v-for="item in navTitles"><!--开始用vue-->
            <p>{{item.pTitleEnglish}}</p>
            <p>{{item.pTitleChinese}}</p>
        </div>
        <div class="location">
            <div class="location_left">
                <p>4006-678--678</p>
                <p><span class="iconfont icon-icon_distribution"></span>配送范围查询</p>
            </div>
            <div class="location_right">
               <p><span class="iconfont icon-dingwei"></span>上海市</p>
            </div>
        </div>
    </div>
</header>
<div class="detail clearFloat">
    <div class="clearFloat detail_left_all">
    <div class="detail_left" v-for="item in centerImgs">
        <img :src=item.src alt="">
    </div>
    </div>
    <div class="detail_center">
        <img src="image/shop_goods.png" alt="美味蛋糕">
        <p>En ce moment,Le fromage et la creme massent vos papilles,Laissez ta langue se dominer,retour a ton enfance</p>
        <p>这一刻，奶油芝士的细腻与淡奶油的绵软嵌入味蕾，让舌尖主宰，重返童年时光。</p>
    </div>
    <div class="detail_right clearFloat">
        <div class="clearFloat">
        <p class="floatLeft p_one">lapin  detendu</p><p class="floatLeft p_two">安逸兔</p>
        </div>
        <div class="detail_right_rec">
            <p class="price">￥318.00</p>
            <div class="clearFloat">
            <div class="weight clearFloat" v-for="item in pounds"><!--开始用vue-->
                <p>{{item.weight}}</p>
            </div>
            </div>
            <div class="introduce">
                <p>4-7人食  21cm*5.5cm<br/>提前5小时预定</p>
            </div>
            <div class="number">
                <p class="desc">数量</p>
                <button class="reduce">-</button>
                <input type="number"  value="1" class="num"/>
                <button class="plus">+</button>
            </div>
            <div class="exchange">
                <div class="exch">换购</div>
                <div class="rec"><input type="checkbox"></div>
                <div class="text"><span>+29.9</span>元换购缤纷欢乐礼包包含帽子1套(共5个)，插旗1套，防水包装袋1个</div>
                <div class="img"><img src="image/shop_goods-desc.jpg" alt=""></div>
            </div>
            <div class="btn">
                <button>加入购物车</button>
                <button>立即购买</button>
            </div>
        </div>
        <div class="commit">
            <div class="co_list clearFloat">
                <div>
                    <p>Best Ingredient</p>
                    <p>优质原材料</p>
                </div>
                <div>
                    <p>Evaluation</p>
                    <p>累计点评(<span>1279</span>)</p>
                </div>
            </div>
            <div class="co_location clearFloat floatLeft" v-for="item in flags">
               <img :src=item.src alt="国旗">{{item.name}}
            </div>
            <div class="co_sweet" v-for="item in sweets">
                <p>{{item.sweetKey}}</p><p>{{item.sweetValue}}</p>
            </div>
        </div>
    </div>
</div>
<!--中间线部分-->
<hr/>
<div class="centerline">
<div id="line">
    <div class="line_img floatLeft">
        <img src="image/remember.jpg" alt=""></div>
    <div class="line floatLeft">
        <p>Avec une bouchee,vous entrerez dans le monde du Magicien d'Oz,Lapin detendu vous emmenera un aventure,vous accompagne de retrouver I'innocence perdue.</p>
        <p>{{part}}</p>
    </div>
</div>
    <div class="centerBottom">
<!--图片部分-->
    <div class="center_img">
        <img src="image/shop_goods_1.png" alt="">
    </div>
<!--咬下一口进入-->
<div id="eat" class="clearFloat">
<div class="eat_left">
    <div class="eat_one"><p >{{part}}</p></div>
    <div class="eat_two"><p>Best Ingredient | 优质原材料</p>
               <p>法国奶油、甄选酸乳、新西兰芝士、胡萝卜粒</p></div>
    <div class="eat_three" v-for="item in sweets">
        <div><p>{{item.sweetKey}}</p><p>{{item.sweetValue}}</p></div>
    </div>
</div>
<div class="eat_right"><img src="image/shop_goods-111.jpg" alt=""></div>
</div>
<!--        中间漫画部分-->
        <div id="eat_Cartoon"><img src="image/shop_goods_Cartoon.jpg" alt=""></div>
        <div id="eat_taste"><img src="image/shop_goods-taste.jpg" alt=""></div>
<!--蛋糕规格-->
<div id="size">
    <div class="cake"><p>蛋糕规格</p></div>
    <div class="clearFloat">
    <div class="cakeSize floatLeft" v-for="item in cakeSizes">
            <img :src=item.src alt="">
            <p>{{item.pound}}</p>
            <p>SIZE:{{item.size}}</p>
            <p>适合{{item.people}}人食用</p>
    </div>
    </div>
</div>
</div>
</div>
<!--销量排行榜-->
<div id="SalesVolume">
    <div class="SABLE"><p>INDISPENSABLE</p>
        <p>销量排行榜</p></div>
    <div class="clearFloat" v-for="item in shop_goods">
        <img :src="item.src"><p>{{item.introduce}}</p><p>{{item.weight}}</p>
    </div>
</div>

<footer id="footer" class="clearFloat">
    <div><img src="image/shop_goods-11.jpg" alt=""></div>
    <div><img src="image/shop_goods-12.jpg" alt=""></div>
    <div><img src="image/shop_goods-13.jpg" alt=""></div>
</footer>
</div>
<script>
    var flags=[
        {name:"法国奶油",src:"image/flag_France.jpg"},
        {name:"甄选酸乳",src:"image/flag_China.jpg"},
        {name:"新西兰芝士",src:"image/flag_NewZealand.jpg"},
        {name:"胡萝卜粒",src:"image/flag_rabbit.jpg"},
    ];
    var sweets=[
        {sweetKey:"Texture | 口感",sweetValue:"绵软细腻"},
        {sweetKey:"Flavor | 口味",sweetValue:"芝士、奶油、酸乳"},
        {sweetKey:"Base | 口味基底",sweetValue:"奶油"},
        {sweetKey:"Sweetness | 甜味",sweetValue:"🍭🍭"},
        {sweetKey:"Size | 规格",sweetValue:"1.5磅/2.5磅/3.5磅/5.5磅"},
    ];
    var cakeSizes=[
        {src:"image/size_1.jpg",pound:"1.5磅",size:"16cm*5cm",people:"2-3"},
        {src:"image/size_2.jpg",pound:"2.5磅",size:"21cm*5cm",people:"4-7"},
        {src:"image/size_3.jpg",pound:"3.5磅",size:"26.5cm*5cm",people:"8-12"},
        {src:"image/size_4.jpg",pound:"5.5磅",size:"32.5cm*5cm",people:"12-20"},
    ];
    var centerImgs=[
        {index:0,src:"image/shop_goods-1.jpg"},
        {index:1,src:"image/shop_goods-2.jpg" },
        {idnex:2,src:"image/shop_goods-4.jpg"}];
    var navTitles=[
        {pTitleEnglish:"Nos Products",pTitleChinese:"全部产品"},
        {pTitleEnglish:"Napoleon",pTitleChinese:"拿破仑产品"},
        {pTitleEnglish:"Evenements",pTitleChinese:"热门活动"},
        {pTitleEnglish:"Mon M'CAKE",pTitleChinese:"会员中心"}];
    var pounds=[
        {weight:"1.5磅"},
        {weight:"2.5磅"},
        {weight:"3.5磅"},
        {weight:"5.5磅"}];
    var part="咬下一口，进入绿野仙踪的童话世界。安逸兔带你开启奇幻冒险之旅，陪你找到被遗失的童心。";
    var shop_goods=[
        {src:"image/shop_goods-1.jpg",introduce:"Velour rouge",weight:"2磅/298RMB"},
        {src:"image/shop_goods-2.jpg",introduce:"lapin detendu",weight:"2.5磅/318RMB"},
        {src:"image/shop_goods-3.jpg",introduce:"Voyage de Daisy",weight:"2.5磅/318RMB"},
        {src:"image/shop_goods-4.jpg",introduce:"semi-fermente original",weight:"1盒/48RMB"},
        {src:"image/shop_goods-5.jpg",introduce:"Croissant francais",weight:"1盒/48RMB"},
    ]
    var vm=new Vue({
        el:"#app",
        data(){
            return {
                navTitles:navTitles,
                pounds:pounds,
                centerImgs:centerImgs,
                cakeSizes:cakeSizes,
                sweets:sweets,
                flags:flags,
                shop_goods:shop_goods,
                part:part
            }
        }
    })
</script>
</body>
</html>